html,
body {
  background-color: #eaefef;
  height: 100%;
}
.main-nav {
  background-color: #333446;
}
.steam-logo {
  width: 2rem;
}
.custom-nav-link {
  text-decoration: none;
  color: #eaefef;
  padding: 0 1rem;
  border: 2px outset #7f8caa;
}
.custom-active {
  background-color: #eaefef;
  color: #333446;
  border: 2px inset #7f8caa;
}
.custom-nav-link:hover {
  text-decoration: underline;
}
#logo {
  font-family: Aldrich;
  color: #eaefef;
  font-size: larger;
}
.decorative-border {
  background-color: #7f8caa;
}
.navy-text {
  color: #333446;
}
.hero {
  background-image: url("../static/images/hero-background.jpg");
}
.hero-header {
  font-family: Aldrich, Impact;
  text-align: center;
}
.hero-button {
  background-color: #333446;
  border: 3px outset #7f8caa;
}
.hero-button:hover {
  border: 3px inset #7f8caa;
}
.hero-button > a {
  color: #eaefef;
  text-decoration: none;
}
footer {
  background-color: #333446;
  border-top: 1rem #7f8caa solid;
}
footer > p {
  font-size: small;
  color: #eaefef;
  text-align: center;
}
#copyright {
  width: 100%;
}
.home-content {
  background-color: #b8cfce;
  box-shadow: -5px 5px 5px #7f8caa;
}
.home-text {
  font-size: larger;
}
.green-background {
  background-color: #b8cfce;
}
.green-background > h2 {
  color: #333446;
}
#conceptual-erd {
  border: 2px solid #333446;
}
#logical-erd {
  border: 2px solid #333446;
}
.download-icon {
  width: 1.5rem;
  float: right;
}
.download-link {
  text-decoration: underline;
  color: #0d6efd;
}
.documentation-images {
  background-color: #333446;
  box-shadow: -7px 7px 5px #7f8caa;
}
.documentation-images-header {
  font-family: Aldrich, Impact;
  color: #eaefef;
}
.search-form-button {
  background-color: #333446;
  color: white;
  font-family: Aldrich;
  border: 2px outset #333446;
}
.search-form-button:hover {
  border: 2px inset #333446;
  text-decoration: underline;
}
.clear-search {
  text-decoration: none;
  color: white;
}
.examine-game {
  border: 2px outset #333446;
  text-decoration: none;
  background-color: #333446;
  color: #eaefef;
}
.examine-game > img {
  width: 1.5rem;
}
.examine-game:hover {
  border: 2px inset #333446;
  text-decoration: underline;
}
.gallery-game {
  box-shadow: -7px 7px 5px #7f8caa;
}
.page-icon {
  width: 1.5rem;
}
.page-link {
  color: #333446;
}
.active > .page-link {
  background-color: #333446;
  color: white;
  border: 2px solid #7f8caa;
}
.gallery-return {
  background-color: #333446;
  text-decoration: none;
  color: #eaefef;
  padding: 6px;
}
.gallery-return:hover {
  text-decoration: underline;
}
.return-icon {
  width: 2rem;
}
.game {
  background-color: white;
  box-shadow: -7px 7px 5px #7f8caa;
}
.game-name {
  color: #eaefef;
  background-color: #333446;
  text-align: center;
  font-family: Aldrich;
}
.game-image {
  width: 100%;
  border: 2px solid #333446;
}
.game-description {
  font-size: larger;
}
.rankings {
  background-color: #b8cfce;
  padding: 0.5rem;
  box-shadow: -5px 5px 4px #7f8caa;
}
.rankings-heading {
  color: #333446;
}
.about {
  background-color: #333446;
  color: #eaefef;
  box-shadow: -7px 7px 5px #7f8caa;
}
.about-contact > h3 {
  font-family: Aldrich, Impact;
}
.about-content > h3 {
  font-family: Aldrich, Impact;
}
.about-content > p {
  font-size: large;
}
.paige-image {
  border: 5px solid #b8cfce;
}
