html,
body {
  background-color: #eaefef;
  height: 100%;
}
.main-nav {
  background-color: #333446;
}
.custom-nav-link {
  text-decoration: none;
  color: #eaefef;
  padding: 0 0.5rem;
}
.custom-active {
  background-color: #eaefef;
  color: #333446;
}
.custom-active:hover {
  text-decoration: none;
}
.custom-nav-link:hover {
  text-decoration: underline;
}
#logo {
  font-family: Aldrich;
  color: #eaefef;
  font-size: larger;
}
.decorative-border {
  background-color: #7f8caa;
}
footer {
  background-color: #333446;
  text-align: center;
  color: #eaefef;
  border-top: 1rem #7f8caa solid;
}
#copyright {
  width: 100%;
}
.home-content {
  background-color: #b8cfce;
  box-shadow: -5px 5px 5px #7f8caa;
}
.green-background {
  background-color: #b8cfce;
}
#conceptual-erd {

  border: 2px solid #333446;
}
#logical-erd {

  border: 2px solid #333446;
}
.code-fragment {
  padding: 0.5rem;
  background-color: #ffffff;
  box-shadow: -7px 7px 5px #7f8caa;
  margin-bottom: 1rem;
}
.pin-icon {
  width: 2rem;
  float: center;
}
.code-fragment > .code-fragment-heading {
  color: #333446;
}
.code-fragment > code > pre {
  color: #333446;
  margin: 0;
  font-weight: bold;
}
.search-form-button {
  background-color: #333446;
  color: white;
  font-family: Aldrich;
  border: 2px outset #333446;
}
.search-form-button:hover {
  border: 2px inset #333446;
  text-decoration: underline;
}
.clear-search {
  text-decoration: none;
  color: white;
}
.examine-game {
  border: 2px outset #333446;
  text-decoration: none;
  background-color: #333446;
  color: #eaefef;
}
.examine-game:hover {
  border: 2px inset #333446;
  text-decoration: underline;
}
.gallery-game {
  box-shadow: -7px 7px 5px #7f8caa;
}
.page-link {
  color: #333446;
}
.active > .page-link {
  background-color: #333446;
  color: white;
  border: 2px solid #7f8caa;
}
.gallery-return {
  background-color: #333446;
  text-decoration: none;
  color: #eaefef;
  padding: 6px;
}
.gallery-return:hover {
  text-decoration: underline;
}
.return-icon {
  width: 2rem;
}
.game {
  background-color: white;
  box-shadow: -7px 7px 5px #7f8caa;
}
.game-name {
  color: #eaefef;
  background-color: #333446;
  text-align: center;
  font-family: Aldrich;
}
.game-image {
  width: 100%;
  border: 2px solid #333446;
}
.game-description {
  font-size: larger;
}
.rankings {
  background-color: #b8cfce;
  padding: 0.5rem;
  box-shadow: -5px 5px 4px #7f8caa;
}
.rankings-heading {
  color: #333446;
}
