{% extends 'base.html' %} {% load static %} 
{% block title %}{{ game.Name}}Details{% endblock %} 
{% block content %}
<div class="container my-3 mx-lg-5">

  <div class="controls mt-3">
    <button class="p-1 button umber-background aldrich-text">
      <a class="white-text" href="{% url 'gallery' %}?page={{ page }}">Return to Gallery</a>
    </button>
  </div>

  <div class="row">

    <div class="col-xl-8 my-3">

      <div class="game my-3 navy-background">
        <h2 class="p-1 m-0 text-center white-text aldrich-text">
          {{ game.Name }}
        </h2>
        <div class="row g-0 white-background navy-text blue-bottom-border">
          <div class="col-md-6 col-lg-8">
            <img
              class="w-100 h-100 game-image"
              src="{{ game.Image_Link }}"
              alt="{{game.name}}"/>
          </div>
          <div class="col-md-6 col-lg-4 p-2">
            <p>{{ game.Description }}</p>
          </div>
        </div>
        <div class="row g-0 px-2 white-background navy-text blue-bottom-border">
          <div class="col-6">
            <h6>
              {% if game.Recommendations %} Recommeded by {{game.Recommendations}} players {% endif %}
            </h6>
          </div>
          <div class="col-6 text-end">
            <h6>
              {% if not game.Price %} Free {% else %} ${{ game.Price }} {%endif%} 
              {% if game.Discount_Percent %} at {{ game.Discount_Percent}}% off. {% endif %}
            </h6>
          </div>
        </div>
        <div class="row g-0 px-2 white-background navy-text blue-bottom-border">
          <div class="col-12">
            <h6>
              Developer(s): {% for developer in game.Developers %}{{developer}}{% endfor %}
            </h6>
          </div>
        </div>
        <div class="row g-0 px-2 white-background navy-text blue-bottom-border">
          <div class="col-12">
            <h6>
              Publisher(s): {% for publisher in game.Publishers %}{{publisher}}{% endfor %}
            </h6>
          </div>
        </div>
        <div class="row g-0 px-2 white-background navy-text blue-bottom-border">
          <div class="col-12">
            <h6>
              {% if game.Release_Date %} Release Date: {{ game.Release_Date }}{% else %} Unreleased {% endif %}
            </h6>
          </div>
        </div>
        {% if game.Full_AppID %}
        <div class="row g-0 px-2 white-background navy-text blue-bottom-border">
          <h6>
            This is a {{ game.Type }}. Full content can be found
            <a class="navy-text" href="{% url 'detail' game.Full_AppID %}">
              here.</a>
          </h6>
        </div>
        {% endif %} 
        {% if game.Required_Age %}
          <div class="row g-0 px-2 white-background navy-text blue-bottom-border">
            <h6>Required Age: {{ game.Required_Age }}</h6>
          </div>
        {% endif %}
      </div>

      <div class="genres-categories p-3 my-3 navy-background">
        <h3 class="white-text aldrich-text">Genres:</h3>
        <div>
          {% for genres in game.Genres %}
          <span class="d-inline-block mb-2 umber-background white-text aldrich-text">{{ genres }}</span>
          {% endfor %}
        </div>
        <h3 class="mt-2 white-text aldrich-text">Categories:</h3>
        <div>
          {% for category in game.Categories %}
          <span class="d-inline-block mb-2 umber-background white-text aldrich-text">{{ category }}</span>
          {% endfor %}
        </div>
      </div>

    </div>

    <div class="col-xl-4 my-3">

      <div class="rankings my-3 umber-background">
        <h2 class="p-1 m-0 text-center white-text aldrich-text">Steam Chart Rankings:</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date:</th>
              <th scope="col">Rank:</th>
              <th scope="col">Player Count:</th>
            </tr>
          </thead>
          <tbody>
            {% for rank in rankings %}
            <tr>
              <td>{{ rank.Date }}</td>
              <td>{{ rank.Rank}}</td>
              <td>{{ rank.Player_Count}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    
      <div class="similar p-2 navy-background">
        <h3 class="text-center white-text aldrich-text">Games with similar tags:</h3>
      <div
        id="carouselAutoplayingSimGames"
        class="carousel slide h-100"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner h-100">
          {% for similar_game in similar_games_categories %}
          <div
            class="carousel-item {% if forloop.first %}active{% endif %} h-100"
            data-bs-interval="5000"
          >
            <a href="{% url 'detail' similar_game.AppID %}">
              <img
                src="{{ similar_game.Image_Link }}"
                class="w-100 h-100 umber-border"
                alt="{{ similar_game.Name }}"
              />
            </a>
          </div>
          {% endfor %}
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselAutoplayingSimGames"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselAutoplayingSimGames"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      </div>

    </div>

  </div>

</div>
{% endblock %}