{% extends 'base.html' %}
{% load static %}
{% block title %}Gallery Page{% endblock %} 
{% block content %}

<div class="container p-3">
    <div class="search-form my-2 px-3">
        <form class="row" method="get">
            <input class="col-md-6" type="text" class="input" placeholder="Search by name" name="q" value="{{ query }}">
            <div class="col-md-6 p-0 d-flex justify-content-start">
                <button class="search-form-button m-0" type="submit">Search</button>
                <button class="search-form-button m-0"><a class="clear-search" href="{% url 'gallery' %}">Clear Search</a></button>
            </div>
        </form>
    </div>

    <div class="row g-4 mt-3">
        {% if not page_obj %}
        <h1 class="search-error">Sorry, I don't have any games with that name.</h1>
        {% endif %}

        {% for game in page_obj %}
        <div class="col-md-6 col-xl-4">
            <div class="card mb-2 gallery-game">
                <img src="{{ game.Image_Link }}" class="card-img-top" alt="{{ game.Name }}">
                <div class="card-body">
                    <h6 class="card-title">{{ game.Name }}</h6>
                    <p>Release Date: {{ game.Release_Date }}</p>
                <a class="examine-game p-1" href="{% url 'detail' game.AppID %}?page={{ page_obj.number }}"><img class="pb-1 px-1" src="{% static 'icons/pixel-label-light.svg' %}" alt="label">Learn More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <nav>
        <ul class="pagination justify-content-center mt-3">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">
                        <img class="page-icon px-1 pb-1" src="{% static 'icons/pixel-arrow-left.svg' %}" alt="Previous">
                        <img class="page-icon px-1 pb-1" src="{% static 'icons/pixel-arrow-left.svg' %}" alt="Previous">
                        1
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        <img class="page-icon px-1 pb-1" src="{% static 'icons/pixel-arrow-left.svg' %}" alt="Previous">
                        {{ page_obj.previous_page_number }}
                    </a>
                </li>
            {% endif %}
                <li class="page-item active">
                    <span class="page-link">
                        {{ page_obj.number }}
                    </span>
                </li>
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}
                        <img class="page-icon px-1 pb-1" src="{% static 'icons/pixel-arrow-right.svg' %}" alt="Next">
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                        8
                        <img class="page-icon px-1 pb-1" src="{% static 'icons/pixel-arrow-right.svg' %}" alt="Next">
                        <img class="page-icon px-1 pb-1" src="{% static 'icons/pixel-arrow-right.svg' %}" alt="Next">
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
