{% extends 'base.html' %} 
{% load static %} 
{% block title %}Home{% endblock %}
{% block content %}
<div class="container px-3 my-3">
  <div class="row g-0 hero mb-5">
    <div class="col-lg-6">
      <h1 class="hero-header p-2 align-middle">The Data Behind the 129 Most Popular Games on Steam During Summer 2025.</h1>
    </div>
    <div class="col-lg-6">
      <div>
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            {% for app in featured_apps %}
            <div class="carousel-item {% if forloop.first %}active {% endif %}" data-bs-interval="5000">
              <img src="{{ app.Image_Link }}" class="d-block w-100" alt="{{ app.Name }}">
            </div>
            {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>
    </div>
  </div>
  
      <div class="p-3 home-content">
        <h2>This Project:</h2>
        <div class="home-text"> 
          <p>
          This is an interdiscplinary capstone between Computer Science (CS),
          Management Information Systems (MIS), and Web Development (WEB). The
          goal of this project was to create a relational database and web
          application on the records of video games on the
          <a href="https://store.steampowered.com/">Steam</a> digital
          distribution service. By blending these disciplines, this project
          proves that there is merit in comprehensive and interdisciplinary
          knoweledge.
          </p>
          <p>
            The games included in this database, are the 129 most popular PC games
            in June and July of 2025. Over the course of six weeks, the app ID,
            title, rank, and player count of these games were manually collected
            in order to avoid webscraping the Steam website. The app ID was then
            used to call an API that would return a JSON object with more data
            about the game. This is an example with the most popular game on
            Steam,
            <a href="https://store.steampowered.com/api/appdetails?appids=730"
              >Counter Strike 2</a
            >. After the retrieval, the data was coalesced into a single line of a
            CSV, then cleaned with the Python
            <a href="https://pandas.pydata.org/">Pandas</a> library, and finally
            normalized into Boyce-Codd normal form and formatted for SQL Server.
          </p>
          <p>
            This web application was built with the
            <a href="https://www.djangoproject.com/">Django</a> framework and
            deployed with <a href="https://railway.com/">Railway</a>. It aims to
            present the project and serve as documentation. By utilizing the database model features of Django, the 129 games in this database can be viewed in the gallery. 
            The design of the website was created
            custom CSS and the Bootstrap library. This website is
            accessible and responsive to all devices. 
          </p>
        </div>
      </div>
  </div>
</div>
{% endblock %}
