{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'base.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Aldrich&family=Fredoka:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <title>{% block title %} {% endblock %}</title>
  </head>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous">
  </script>
  <body class="d-flex flex-column">

    <nav class="navbar navbar-expand-lg main-nav" data-bs-theme="dark">
      <div class="container-fluid">
        <span id="logo" class="navbar-text">STEAM DATABASE</span>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="custom-nav-link {% if request.resolver_match.url_name == 'home' %}custom-active{% endif %}" 
            href="{% url 'home' %}">Home</a>
            <a class="custom-nav-link {% if request.resolver_match.url_name == 'documentation' %}custom-active{% endif %}" 
            href="{% url 'documentation' %}">Documentation</a>
            <a class="custom-nav-link {% if request.resolver_match.url_name == 'gallery' %}custom-active{% endif %}" 
            href="{% url 'gallery' %}">Gallery</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="py-2 decorative-border"></div>

    <div class="flex-grow-1">{% block content %} {% endblock %}</div>

    <footer class="py-2">
      <span class="align-middle">&copy; Paige Redlin 2025</span>
    </footer>

  </body>
</html>